body{
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 30%,
    rgba(148, 187, 233, 1) 100%
  );
}


.productContainer {
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link {
  text-align: center;
  width: 320px;
  height: auto;
  box-shadow: 0 0 10px #463636;
  background: linear-gradient(to right, #74ebd5, #9face6);
  background-color: #74ebd5 !important;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 17px;
}

.productContainer > .link:hover {
  
}

.nav{
  margin: 0 0px;
  background: linear-gradient(to right, #74ebd5, #9face6);
  font-size: large;
  font-weight: 400;
  padding: 17px;
  font-size: x-large !important;
  font-weight: bold;
  color: black;
  text-transform: uppercase;

}

.para{
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}